.orderDetailsPage {
  background-color: white;
}

.orderDetailsContainer > h1 {
  font: 300 3vmax "Roboto";
  margin-top: 25px;
  padding: 1vmax 0;
  /* margin: 4vmax 0; */
  color: orange;
}

.orderDetailsContainer {
  padding: 5vmax;
  padding-bottom: 0%;
}

.orderDetailsContainer > p {
  font: 400 1.8vmax "Roboto";
}

.orderDetailsContainerBox,
.orderDetailsCartItemsContainer {
  padding: 2vmax;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 2px solid lightgrey;
}

.orderDetailsContainerBox > div {
  display: flex;
  margin: 1vmax 0;
}

.orderDetailsContainerBox > div > p {
  font: 500 1.5vmax "Roboto";
  color: black;
}
.orderDetailsContainerBox > div > span {
  margin: 0 1vmax;
  font: 100 1.5vmax "Roboto";
  color: #575757;
}

.orderDetailsCartItems > p {
  font: 400 1.8vmax "Roboto";
}

.orderDetailsCartItems {
  padding: 2vmax 5vmax;
  /* border-top: 1px solid rgba(0, 0, 0, 0.164); */
}

.orderDetailsCartItemsContainer > div {
  display: flex;
  font: 400 1.3vmax "Roboto";
  align-items: center;
  margin-bottom: 1vmax;
}

.orderDetailsCartItemsContainer > div > img {
  width: 3vmax;
}

.orderDetailsCartItemsContainer > div > a {
  color: #575757;
  margin: 0 2vmax;
  width: 60%;
  text-decoration: none;
  font-size: 1.5vmax;
}

.sizeClass {
  /* padding: 0 6vmax; */
  display: flex;
  width: 40%;
  color: #5e5e5e;
}

.orderDetailsCartItemsContainer > div > span {
  width: 50%;
  font: 100 1.3vmax "Roboto";
  color: #5e5e5e;
}

@media screen and (max-width: 600px) {
  .orderDetailsContainer > h1 {
    margin-top: 40px;
    font: 300 2.5vmax "Roboto";
  }

  .orderDetailsContainer > p {
    font: 400 6vw "Roboto";
  }

  .orderDetailsContainerBox > div > p {
    font: 400 4vw "Roboto";
  }
  .orderDetailsContainerBox > div > span {
    font: 100 4vw "Roboto";
  }

  .orderDetailsCartItems > p {
    font: 400 6vw "Roboto";
  }

  .orderDetailsCartItemsContainer > div {
    font: 400 4vw "Roboto";
    margin: 4vw 0;
  }

  .orderDetailsCartItemsContainer > div > img {
    width: 10vw;
  }

  .orderDetailsCartItemsContainer > div > a {
    margin: 2vw;
    width: 30%;
  }

  .orderDetailsCartItemsContainer > div > span {
    font: 100 1.5vmax "Roboto";
  }

  .sizeClass {
    display: block;
    width: 15%;
    font: 100 1.5vmax "Roboto";
    padding: 1vmax;
  }
}
