.contactContainer {
  min-height: 60vh;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f7971e, #ffd200);
  margin: 0 10vmax;
  margin-top: 150px;
  border-radius: 5px;
  padding: 5vmax;
}

.emailBox > h2 {
  text-decoration: none;
  font: 500 2vmax "Roboto";
  color: black;
  padding: 1vmax;
}

.mailBtn {
  text-decoration: none;
}

.mailBtn > button {
  text-decoration: none;
  font: 600 3vmax "Roboto";
  cursor: pointer;
  padding: 2vmax;
  border: 5px solid white;
  color: white;
  transform: translateX(-100vw);
  animation: mailBtnAnimation 2s forwards;
  border-radius: 5px;
}

.mailBtn :hover {
  color: whitesmoke;
  transform: scale(0.8);
}

.followBox {
  border-left: 3px solid rgb(41, 39, 39);
}

.followBox > h2 {
  color: rgb(20, 18, 18);
  font: 100 2vmax "Roboto";
  margin: 2vmax;
}

.followBox > a > svg {
  font-size: 4vmax;
  margin: 1vmax 4vmax 1vmax 2vmax;
  transform: translateX(-100vw);
  animation: mailBtnAnimation 2s forwards;
}

.followBox > a :hover {
  color: whitesmoke;
  transform: scale(0.8);
}

.youtubeSvgIcon {
  color: rgb(241, 36, 0);
}

.instagramSvgIcon {
  color: #833ab4;
}

.facebookSvgIcon {
  color: #0076c5;
}

.twitterSvgIcon {
  color: #009cda;
}
@keyframes mailBtnAnimation {
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 600px) {
  .contactContainer {
    margin: 0 2vmax;
    margin-top: 100px;
    border-radius: 5px;
  }
}
