.updateOrderForm {
  margin: 5vmax 2vmax;
  padding: 3vmax;
  background-color: whitesmoke;
  border-radius: 5px;
}

.updateOrderForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.updateOrderForm > div > select {
  padding: 1vmax 3vmax;
  margin: 2rem 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid orange;
  border-radius: 4px;
  font: 500 1.5vmax "Roboto";
  outline: none;
}

.updateOrderForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: orange;
}

@media screen and (max-width: 600px) {
  .updateOrderForm {
    padding: 5vmax;
  }

  .updateOrderForm > div > select {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax "Roboto";
  }

  .updateOrderForm > div > svg {
    font-size: 2.8vmax;
  }

  .specialHeader {
    font: 400 6vw "Roboto";
    text-align: center !important;
  }
}
