.paymentContainer {
  margin: 0 15vmax;
  background: whitesmoke;
  border-radius: 10px;
}

.paymentForm {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 4vmax 15vmax;
}

.paymentForm > p {
  background-color: lightgray;
  font: 500 3vmax "Roboto";
  color: grey;
  border-bottom: 2px solid rgba(0, 0, 0, 0.13);
  text-align: center;
  margin: 2vmax;
  padding: 1vmax;
}

.paymentForm > div {
  display: flex;
  align-items: center;
  margin: 2vmax;
}

.paymentInput {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid green;
  border-radius: 4px;
  outline: none;
  background-color: white;
}

.paymentForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: green;
}

.paymentFormBtn {
  border: none;
  background: linear-gradient(to right, #52c234, #195702);
  color: white;
  font: 500 3vmax "Roboto";
  width: 93%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  border-radius: 5px;
  margin: 2vmax;
}

.paymentFormBtn:hover {
  background: gray;
}

@media screen and (min-width: 601px) and (max-width: 950px) {
  .paymentContainer {
    margin: 0 10vmax;
  }

  .paymentForm {
    padding: 5vmax 6vmax;
  }

  .paymentForm > p {
    font: 500 4vw "Roboto";
    margin: 0;
  }

  .paymentForm > div {
    margin: 10vw 0;
  }

  .paymentInput {
    padding: 2vw 10vw;
  }

  .paymentForm > div > svg {
    font-size: 6vw;
  }

  .paymentFormBtn {
    font: 300 4vw "Roboto";
    padding: 2vw;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .paymentContainer {
    margin: 0 4vmax;
  }

  .paymentForm {
    padding: 4vmax;
  }

  .paymentForm > p {
    font: 500 5vw "Roboto";
    padding: 1vw;
    margin: 0;
  }

  .paymentForm > div {
    margin: 10vw 0;
  }

  .paymentInput {
    padding: 2vw 10vw;
  }

  .paymentForm > div > svg {
    font-size: 6vw;
  }

  .paymentFormBtn {
    font: 300 4vw "Roboto";
    padding: 3vw;
    width: 100%;
    margin: 0;
  }
}
